<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="3b9eb58a-ca42-435c-95f3-1781ca52014b" name="Access Facility Restructure" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="3b9eb58a-ca42-435c-95f3-1781ca52014bfileName">Access-Facility-Restructure</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties/>
  <con:reportParameters/>
</con:testSuite>
