<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="61a79e3d-9b30-4c93-81a8-98a4200fc5a0" name="Access Facility Transfer" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="IncludeOverview">true</con:setting>
    <con:setting id="IncludeResults">true</con:setting>
    <con:setting id="FlowLayout">false</con:setting>
    <con:setting id="ErrorDetails">true</con:setting>
    <con:setting id="IncludeCoverage">true</con:setting>
    <con:setting id="61a79e3d-9b30-4c93-81a8-98a4200fc5a0fileName">Access-Facility-Transfer</con:setting>
  </con:settings>
  <con:savedRecentRuns>1</con:savedRecentRuns>
  <con:runType>SEQUENTIAL</con:runType>
  <con:properties>
    <con:property>
      <con:name>ExcelRowCount</con:name>
      <con:value>0</con:value>
    </con:property>
  </con:properties>
  <con:reportParameters/>
</con:testSuite>
