<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a8f7ee65-8ac4-4ee5-917c-3d0c017c8f99" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://idp-non-prod.int.capinet" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config">
  <con:settings>
    <con:setting id="a8f7ee65-8ac4-4ee5-917c-3d0c017c8f99fileName">https%3A%2F%2Fidp-non-prod.int.capinet</con:setting>
  </con:settings>
  <con:definitionCache type="TEXT" rootPart=""/>
  <con:endpoints>
    <con:endpoint>https://idp-non-prod.int.capinet/auth/realms/DEV/protocol/openid-connect</con:endpoint>
    <con:endpoint>https://idp-non-prod.int.capinet/auth/realms/QA/protocol/openid-connect</con:endpoint>
  </con:endpoints>
  <con:environmentSpec>
    <con:entry environmentId="abe22d3f-c611-48a2-aa3a-bbb3916687f4">
      <con:authProfile>Inherit From Parent</con:authProfile>
    </con:entry>
  </con:environmentSpec>
</con:interface>
